<table class="table table-striped" >
  <caption><h3>Listado de clientes</h3></caption>
  <thead>
    <tr>
      <td class="text-uppercase"><strong>Nombre</strong></td>
      <td class="text-uppercase"><strong>Email</strong></td></strong>
      <td class="text-uppercase"><strong>Información</strong></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="customer in customersCtrl.customers">
      <td>{{customer.name}}</td>
      <td>{{customer.email}}</td>
      <td><a ui-sref="customer({id_customer: customer.id})">Información</a></td>


      <td><a href="" ng-click="customersCtrl.removeCustomer(customer)">
        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </a></td>

    </tr>
  </tbody>
</table>
  <div>
    <p>

      <button type="button" class="btn btn-primary"
      ng-click="customersCtrl.on()">Create Customer</button>
    </p>

    <customers-form ctrl="customersCtrl"></customers-form>

  </div>
