
<div class="panel panel-success">
  <!-- Default panel contents -->
  <div class="panel-heading">CUSTOMER INFO</div>
  <div class="panel-body">
    <ul class="list-group">
  <li class="list-group-item"><h4>Name:</h4> {{customerInfoCtrl.customer.name}}</li>
  <li class="list-group-item"><h4>address:</h4> {{customerInfoCtrl.customer.address}}</li>
  <li class="list-group-item"><h4>city:</h4> {{customerInfoCtrl.customer.city}}</li>
  <li class="list-group-item"><h4>phone:</h4> {{customerInfoCtrl.customer.phone}}</li>
  <li class="list-group-item"><h4>email:</h4> {{customerInfoCtrl.customer.email}}</li>
</ul>
  </div>
</div>
